.background{
    position: relative;
    background-image: url('/images/home-grid1.jpg');
    background-position: center;
    width: 100%;
    height: 140vh;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 140vh;
    z-index: 1;
    margin: 0;
}
main{
    position: absolute;
    top: 36%;
    left: 7rem;   
}
.amenity-title{
    color: #fff;
    font-family:"Pacifico", cursive;
    font-size: 2rem;
    font-weight: 200;
    margin: 0;
}
.amenity-subtitle{
    color: #fff;
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 900;
    margin: 0;
}
span{
    color: var(--primary-color);
}
.firstAcc{
    width: 1100px;
    height: 500px;
    background-color: #ffffff;
    margin-top: 70px;
    border-radius: 20px;
    display: flex;
    box-shadow: rgb(213, 213, 213) 3px 3px 10px;
}
.firstAccImage{
    width: 500px;
    height: 450px;
    margin: 30px;
}
.firstAccImage img{
    width: 100%;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}
.firstAccDetails{
    width: 500px;
}
.firstAccDetails h1{
    margin-bottom: 0;
}
.container{
    display: flex;
    gap: 20px;
}
.goToAccommodation{
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    border: none;
    width: 250px;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.7s ease;
    cursor: pointer;
}
.goToAccommodation a{
    color: #fff;
    text-decoration: none;
}
.amenityContainer{
    width: 1100px;
    height: 800px;
    background-color: rgb(255, 255, 255);
    margin-top: 70px;
    border-radius: 20px;
    box-shadow: rgb(213, 213, 213) 3px 3px 10px;
}
.amenityMainImage{
    width: 600px;
    height: 480px;
    padding: 30px;
}
.amenityMainImage img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.amenityWrap{
    display: flex;
}
.amenityDetails{
    padding: 20px;
}
.amenityDetails h1{
    margin: 0;
    font-size: 2rem;
    color: rgb(22, 22, 22);
}
.amenityDetails p{
    margin: 30px 0;
    font-size: 1rem;
}
.icons{
    display: flex;
    width: 300px;
    align-items: center;
    gap: 10px;
}
.amenityGalleries{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: repeat(2, 250px);
    margin-top: 30px;
    position: relative;
}
.gridImage1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.gridImage2{
    grid-column: 1/2;
    grid-row: 2/3;
}
.amenityGrid img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.amenityGrid img:hover{
    box-shadow: #616161 2px 3px 10px;
}
.extraImages{
    background-color: rgb(0, 0, 0, 0.3);
    position: absolute;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 225px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.extraImages:hover{
    box-shadow: #616161 2px 3px 10px;
}
.extraImages p{
    font-size: 2rem;
    color: #fff;
}
.lightbox {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    z-index: 1200;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.lightbox-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.lightbox-content img {
    width: 70vw;
    height: 70vh;
    object-fit: cover;
}
.close-btn {
    position: absolute;
    background: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 40px;
    top: 50px;
    right: 100px;
    transition: all 0.7s ease;
    /* opacity: 0.7; */
}
.close-btn:hover{
    /* opacity: 1; */
    background-color: rgb(0, 0, 0, 0.8);
}
.prevButton, .nextButton{
    cursor: pointer;
    font-size: 50px;
    background-color:transparent;
    color: #ffffff;
    border: none;
    transition: all 0.5s ease;
    opacity: 0.5;
    position: absolute;
    top: 50%;
}
.prevButton{
    left: 10%;
}
.nextButton{
    right: 10%;
}
.prevButton:hover, .nextButton:hover{
    background-color:rgb(0, 0, 0,0.4);
    opacity: 1;
}