.background {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 120vh;
    z-index: 0;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 120vh;
    background-color: var(--overlay-color);
    z-index: 1;
}
main .title {
    color: white;
    position: absolute;
    top: 32%;
    left: 8%;
    font-family: "Pacifico", cursive;
    font-size: 2rem;
    z-index: 2;
    font-weight: 500;
    /* width:700px; */
}
.tagline {
    position: absolute;
    top: 38%;
    left: 8%;
    color:white;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: .9;
    z-index: 2;
}
span {
    color: var(--primary-color);
}
.explore {
    position: absolute;
    background-color: var(--secondary-color);
    color: white;
    top: 65%;
    left: 8%;
    padding: 15px;
    z-index: 2;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.explore:hover{
    background-color:#9e2e1a;
    transition: .5s ease;
}
.date-section {
    position: absolute;
    top: 84%;
    left: 7%;
    right: 7%;
    background-color: rgba(255, 245, 245, 0.5);
    height: 15vh;
    width: 85vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    z-index: 2;
}
.choose-date{
    display: flex;
    background-color: var(--primary-color);
    height: 50px;
    width: 70%;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: #878787 2px 3px 5px;
}
.choose-date a{
    font-family: "Poppins", cursive;
    text-decoration: none;
    font-size: 1rem;
    color: rgb(30, 30, 30);
}
.check-availability{
    display: flex;
    width: 20%;
    background-color: var(--secondary-color);
    height: 50px;
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Poppins", cursive;
    box-shadow: #878787 2px 3px 5px;
}
.check-availability:hover{
    background-color: var(--primary-color);
    transition: 0.6s ease;
}
.about-layout {
    position: absolute;
    top: 120%;
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    align-content: center;
}
.about-text {
    height: 100vh;
    overflow: hidden;
    width: 600px;
    margin: 30px;
}
.about-text h1 {
    font-size: 2.7rem;
    color: var(--text-color);
    font-family: "Pacifico", cursive;
    text-shadow: #9a9a9a 2px 3px 3px;
    font-weight: 300;
    color: #484848;
}
.about-text h4 {
    margin: 0;
    font-size: 1.4rem;
    color: var(--text-color);
    letter-spacing: 3px;
    text-shadow: #a2a2a2 2px 3px 10px;
    color: #484848;
}
.about-text p {
    max-width: 100%; 
    text-align: left; 
    color: #5e5d5d;
    line-height: 1.5;
    padding: 10px 0;
    margin: 0;
}
.small-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 0; 
}
.small-nav div {
    display: flex;
    align-items: center;
    justify-content: start; 
    padding: 10px 15px;
    font-size: 1.2rem; 
    background-color: #f4f4f4;
    max-width: 250px;
    border-radius: 7px;
    gap: 15px;
    font-weight: 600;
}
.small-nav div img{
    width: 30px;
    height: 30px;
}
.readmore {
    padding: 10px 20px;
    font-size: .8rem;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.7s ease;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-top: 10px;
}
.amenities-readmore{
    padding: 10px 20px;
    font-size: .8rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  0.3s ease;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.amenities-readmore:hover{
    background-color: var(--secondary-color);
}
.readmoreImage{
    width: 12px;
    height: 12px;
    padding: 0 3px;
}
.readmore:hover{
    background-color: var(--primary-color);
}
.grid-images {
    display: grid;
    grid-template-columns: 200px 250px; 
    grid-template-rows: 250px 200px;
    align-content: center;
    justify-content: center;
    gap: 10px;
}
.item {
    width: 100%;
    height:100%;
    overflow: hidden;
    border-radius: 10px;
}
.item1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.item2{
    grid-column: 1/2;
    grid-row: 2/3;
}
.item3{
    grid-column: 2/3;
    grid-row: 2/3;
}
.item img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 5px;
}
.resort-facilities{
    position: absolute;
    top: 220%;
    height: 110vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.resort{
    position: relative;
    width: 90%;
    box-shadow: #dfdfdf 2px 5px 30px;
    border-radius: 20px;
    margin: 0;
    padding: 30px;
    height: 600px;
}
.facilities{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.lineLeft{
    width: 100px;
    height: auto;
}
.lineRight{
    width: 100px;
    height: auto;
}
.resort h1{
    font-size: 2.5rem;
    font-family: "Pacifico", cursive;
    text-align: center;
    margin-bottom: 1px;
    margin-top: 0;
    font-weight: 300;
    text-shadow: #aaaaaa 2px 3px 3px;
}
.resort h5{
    font-size: 1rem;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 0;
    color: #5e5d5d;
    font-weight: 300;
}
.arrowRight, .arrowLeft{
    width: 50px;
    height: 50px; 
    position: absolute;
    cursor: pointer;
}
.arrowLeft{
    left: 85%;
}
.arrowRight{
    right: 6%;
}
.amenities-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 80%;  
}
.amenities-box{
    width:280px;
    height: 350px;
    box-shadow: #e7e7e7 5px 5px 20px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
}
.amenities-box img{   
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.amenities-box h3{
    color: #3b3b3b;
    overflow: hidden;
    font-size: 1.2em;
}
.amenities-box p{
    font-size: 1em;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.amenities-box button{
    margin: 0;
    width: 100%;
}
.resort-houses{
    position: absolute;
    top: 330%;
    height: 130vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 45px;
}
.resort-houses-text{
    position: relative;
    width: 650px;
}
.resort-houses-box{
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 20px;
    max-height: 300px;
    width: 600px;
    margin: 10px;
}
.resort-houses-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.resort-houses-title h1{
    text-align: center;
    font-size: 2.5rem;
    font-family: "Pacifico", cursive;
    margin: 0;
    color: #292929;
    text-shadow: #cecece 2px 2px 5px;
    font-weight: 400;
}
.resort-houses-text h3{
    text-align: center;
    color: #5e5d5d;
    font-weight: 300;
    letter-spacing: 4px;
    font-size: 1rem;
    margin-top: 0;
}
.resort-houses-text p{
    text-align: center;
    color: #5e5d5d;
    font-weight: 300;
    line-height: 20px;
    font-size: 1rem;
}
.resort-houses-text h2{
    font-weight: 900;
    font-size: 1.4rem;
    margin: 50px 0;
}
.other-houses-container{
    background-color: #f8f8f8;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    max-height: 350px;
    width: 600px;
}
.other-houses-arrows{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.arrowL, .arrowR{
    width: 30px;
    height: 30px;
    cursor: pointer;
} 
.other-houses-container h2{
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 800;
}
.other-houses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.house1{
    width: 210px;
    height: 270px;
    transition: all 0.8s ease;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
}
.house1 h4{
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    color: #484848;
}
.house1 i{
    color: var(--primary-color);
    font-size: .8rem;
}
.house1 p{
    font-size: .9rem;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    line-height: 1.1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.house1 h6{
    font-size: .8rem;
    font-family: "Poppins", sans-serif;
    color: var(--primary-color);
    margin: 0;
}
.house1:hover{
    background-color: var(--primary-color);
}
.house1.active{
    background-color: var(--primary-color);
}
.house1.active h6{
    color: var(--secondary-color);
}
.house1.active .fa-bed{
    color: var(--secondary-color);
}
.house1.active .checkItButton{
    background-color: var(--secondary-color);
}

.house1:hover h6{
    color: var(--secondary-color);
}
.house1:hover .fa-bed{
    color: var(--secondary-color);
}
.house1:hover .checkItButton{
    background-color: var(--secondary-color);
}
.house1 img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}
.checkItButton{
    width: 100%;
    background-color: var(--primary-color);
    padding: 5px;
    color: #ffffff;
    border-radius: 7px;
    border: none;
    font-family: "Poppins", cursive;
    font-size: .8rem;
    margin-bottom: 5px;
    cursor: pointer;
}
.checkItButton i{
    color: #ffffff;
    font-size: 1rem;
}
.other-houses button:hover{
    background-color: var(--secondary-color);
    color: var(--background-color);
}
.resort-houses-image{
    width: 450px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 20px;
    max-height: 670px;
    transition: all 0.8s ease;
}
.resort-houses-image img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}
.resort-houses-image h1{
    font-size: 1.6rem;
    color: #262626;
    margin: 0;
    font-weight: 900;
}
.resort-houses-image h6{
    color: var(--primary-color);
    font-size: 1rem;
    padding-right: 20px;
    margin: 0;
}
.resort-houses-image p {
    font-size: 1rem;
    text-align: justify;
    width: 100%;
    line-height: 1.3;
    color: #616161;
    text-shadow: #dadada 2px 3px 3px;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 14; 
    overflow: hidden; 
}
.price{
    display: flex;
    width: 45%;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 5px;
    gap: 5px;
    font-size: 14px;
}
.price i{
    color: #ffffff;
    padding: 0;
}
.priceBookContainer{
    display: flex;
    justify-content:space-between;
    gap: 10px;
}
.book-this {
    display: inline-flex; 
    align-items: center;
    padding: 10px 20px; 
    font-size: 14px; 
    background-color:var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    width: 60%;
    justify-content: center;
    transition: all .7s ease;
}
.book-this img {
    height: 1em;
    width: auto;
    margin-right: 8px; 
}
.book-this:hover{
    background-color: var(--primary-color);
}
hr{
    width: 100%;
    margin: 20px 0;
}
.quick-video{
    position: absolute;
    top: 465%;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color:#3b3b3b;
}
.video-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100px;
}
.quick-video h1{
    color: var(--background-color);
    text-align: center;
    margin-top: 30px;
    font-family: "Pacifico", cursive;
    font-size: 2.5rem;
    font-weight: 300;
}
.quick-video h2{
    letter-spacing: 4px;
    font-size: 1rem;
    font-weight:lighter;
    color: var(--background-color);
    text-align: center;
    margin: 10px;
}
.video-container {
    position: relative;
    width: 700px;
    height: auto;
    margin: auto;
}

video {
    width: 100%;
    height: 800%;
    border-radius: 20px;
    box-shadow: #6e6e6e 3px 4px 10px;
}

.play-pause-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    font-size: 3em;
    cursor: pointer; 
    background-color: transparent;
    border: none; 
    transition: all .7s ease; 
}
.play-pause-btn:hover{
    background-color:rgb(56, 56, 15);
    border-radius: 50%;
}
.testimonials{
    position: absolute;
    top: 565%;
    right: 0;
    height: 90vh;
    width: 100%;
}
.testimonialsTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}
.testimonialsTitle h1{
    font-size: 2rem;
    color: #323232;
    font-family: "Pacifico", cursive;
}
.testimonialSlider{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 80%;
    height: 500px;
    margin: auto;
}
.testimonial-container{
    width: 350px;
    border-radius: 15px;
    box-shadow: #efefef 2px 3px 10px;
    height: 350px;
    overflow: hidden;
    margin: 0;
    transition: all 0.7s ease;
}
.profile-name{
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 70px;
    margin: 20px;
    gap: 20px;
}
.profileimgContainer{
    width: 70px;
    height: 70px;
}
.profile-name img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.testimonial-container p{
    width: 80%;
    font-size: 1rem;
    color: #323232;
    line-height: 1.2;
    text-align: left;
    margin: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.name{
    font-size: 1.1rem;
}
.redArrowLeft, .redArrowRight{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 55%;
    cursor: pointer;
}
.redArrowLeft{
    left: 5%;
}
.redArrowRight{
    right: 5%;
}
.location{
    position: absolute;
    top: 655%;
    width: 100%;
    height: 100vh;
    background-color: #b4b4b4;
    background-image: url('/images/locationImage.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.location div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.get-in-touch{
    position: absolute;
    top: 5%;
    background-color: #efefef;
    width: 500px;
    height:550px ;
    transform: translateX(30%);
    border-radius: 20px;
    box-shadow: #b4b4b4 1px 1px 7px;
}
.get-in-touch-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}
.getLineLeft, .getLineRight{
    width: 100px !important;
    height: auto !important;
}

.get-in-touch h1{
    font-family: "Pacifico", cursive;
    font-size: 2rem;
    text-shadow: #979797 2px 3px 5px;
    font-weight: 300;
    color: #262626;
    margin: 0;
}
.get-in-touch h4{
    font-size: .7rem;
    letter-spacing: 3px;
    color: #868686;
    text-align: center;
}
form {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 100%;
    overflow: hidden;
}
.input-container {
    background-color: #ffffff;
    padding: 2px;
    border-radius: 8px;
    width: 400px;
    display: flex;
    align-items: center; 
    margin: 5px;
}
input{
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
.input-container.city, .input-container.zipcode {
    width: 194px;
}
.input-container i {
    padding: 8px;
    color: #555;
    font-size: 16px;
    flex-shrink: 0; 
}
.input-container input {
    border: none;
    width: 100%; 
    padding: 8px;
    color: #161616;
    outline: none; 
}
.input-container.idea{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}
textarea{
    border: none;
    width: 100%; 
    padding: 8px;
    color: #161616;
    outline: none; 
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: baseline;
    cursor: pointer;
}
.input-container input::placeholder {
    color: #888; 
}
.checkbox{
    width: 100%;
    text-align: center;
    margin-top: 8%;
}
.submit{
    position: relative;
    left: 0;
    padding: 10px;
    width: 85%;
    font-size: 1rem;
    margin: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 7px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    cursor: pointer;
    transition: all .7s ease;
}
.location-box{
    width: 350px;
    height: 60px;
    position: absolute;
    top: 6%;
    left: 53%;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
}
.map{
    width: 30px !important;
    height: auto !important;
}
.address{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.address h1{
    font-size: 1rem;
    color: #ffffff;
    margin: 0;
}
.address h6{
    font-size: .8rem;
    color: #ffffff;
    margin: 0;
    font-weight: 300;
    text-shadow: #5b5b5b 2px 3px 5px;
}
.location-box i{
    color: #ffffff;
}
.vector{
    position: absolute !important;
    top: 47.5%;
    left: 64.5%;
    width: 60px !important;
    height: auto !important;
}
.slick-dots {
    display: flex;
    justify-content: center;
}
.slick-dots li button {
    color: transparent;
    width: 10px;
    height: 7px;
    background-color: #161616; 
    border-radius: 30%; 
    padding: 0;
    border: none;
    margin: 2px;
}
.slick-dots li.slick-active button {
    background-color: var(--primary-color); 
    width: 20px;
}
.response-message {
    display: none;
    color: rgb(5, 198, 5);
    transition: all 0.7s ease;
    font-size: .9rem;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.response-message.error {
    color: red; 
}